<section class="info_section layout_padding2-top">
  <div class="info_container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <h6 i18n="@@footerAboutUsHeader">
            ABOUT US
          </h6>
          <p i18n="@@footerAboutUsText">
            We're more than just a sock store - we're a celebration of your love for programming and technology.
            Founded by tech enthusiasts, our store is dedicated to bringing you a unique collection of socks that allow you to
            express your passion for coding and all things IT.
          </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form">
            <h5 i18n="@@footerNewsletterHeader">
              Newsletter
            </h5>
            <form action="#">
              <input type="email" i18n-placeholder="@@emailAdressPlaceholder" placeholder="Enter your email">
              <button i18n="@@footerNewsletterSubscribeButton">
                Subscribe
              </button>
            </form>
            <h6 style="text-align: center; margin-top: 46px;">
              <a routerLink="/admin" style="color: white" i18n="@@footerAdminModuleLink">
                Admin Module
              </a>
            </h6>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h6 i18n="@@footerNeedHelpHeader">
            NEED HELP
          </h6>
          <p i18n="@@footerNeedHelpText">
            Our customer support team is available via phone or email.
            Don't hesitate to reach out whenever you need assistance.
            We're committed to providing you with the best sock-shopping experience possible.
          </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h6 i18n="@@footerContactUsHeader">
            CONTACT US
          </h6>
          <div class="info_link-box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>5325 S. Fort Apache Road, Suite D - #87, Las Vegas, NV 89148</span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>(702) 940-9881</span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>{{'info@toe-tally-amazing.com'}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer_section">
    <div class="container">
      <p i18n="@@footerCopyright">
        &copy; {{ currentYear }} All Rights Reserved
      </p>
    </div>
  </footer>
</section>
