[submodule "reactive-forms"]
	path = reactive-forms
	url = https://github.com/itenium-be/angular-reactive-forms
[submodule "RXJS"]
	path = RXJS
	url = https://github.com/itenium-be/RXJS
[submodule "Redux"]
	path = Redux
	url = https://github.com/itenium-be/Redux
