<div class="hero_area" style="margin-bottom: 36px">
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <span class="navbar-brand">
        <span>Toe-tally Amazing ADMIN</span>
        <a routerLink="/" style="color: black; margin-left: 16px" title="Back to store">
          <i class="fa fa-external-link-alt"></i>
        </a>
      </span>
    </nav>
  </header>
</div>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
