<section class="client_section layout_padding" style="padding-top: 0">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Sock Reviews
      </h2>
    </div>
  </div>
  <div class="container px-0">
    <div id="customCarousel2" class="carousel carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let review of reviews$ | async; index as i" class="carousel-item {{ i == 0 ? 'active' : '' }}">
          <div class="box">
            <div class="client_info">
              <div class="client_name">
                <h5>
                  {{ review.socksId }}
                  <i *ngFor="let _ of [].constructor(review.rating)" class="fa fa-star" style="color: gold"></i>
                </h5>
                <h6>On {{ review.added| timeAgo }} by {{ review.email }}</h6>
              </div>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <p>
              {{ review.text }}
            </p>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
